<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description"content="Web site created using tenkin run"/>
    <link rel="apple-touch-icon" href="./logo192.png" />
    <link rel="manifest" href="./manifest.json" />
    <title>Tenkin App</title>
  </head>
  <body>
    <script>
      window.onload = () => {
        'use strict';
        if('serviceWorker' in navigator) navigator.serviceWorker.register('./service-worker.js');
      }
    </script>
    <div id="root"></div>
  </body>
</html>